1、dashboard数字面板，系统快捷入口、数据统计展示；参考当前文档的<Android兼容性测试Agent技术架构方案.md>
2、AI脚本生成，主要是依赖LLM+prompt+uiautomator2 mcp组成一个agent，需求分析调试真机app生成uiautomator2脚本，务必保证脚本成功率较高；agent准备参考：https://github.com/zai-org/Open-AutoGLM
3、脚本执行，因为部门当前已经有足够多的性能压测脚本，在系统实现上需要区分项目，比如561、601、602等项目，每个脚本之间存在差异，所以需要与项目关联，可以优先将项目关联脚本，然后优先集中运行起来；
4、所以不得不有一个脚本管理页面，每个脚本都有自己的名称及功能描述，支持新增、上传、下载、编辑、删除等操作；
5、LLM配置页、apk安装包管理页、设备管理页、报告管理页、项目管理页这些都是辅助功能，优先级较低；实现难度低，可以优先实现。有些逻辑需要提前说明：脚本创建时必须有项目，项目下有脚本就不能删除项目。
6、项目搭建优先保证有执行python+uiautomator2脚本的能力，保证环境能运行起来，然后实现脚本管理、设备管理、报告管理、项目管理、LLM配置页、apk安装包管理页、辅助功能。
7、还有一点，后续方便扩展，需要预留鸿蒙、iOS等系统支持接入;